@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background:#F3F5FC;
    min-height: 100vh;
    /*height: 100%;*/
}

.container {
    width: 100%;
    transition: all 0.5s ease;
}

.container__header {
    width: 90%;
    margin: 0 auto;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__logo {
    max-width: 120px;
}

.container__logo-img {
    background-size: contain;
    width: 75%;
    margin-left: -25%;
}

.container__tema-button {
    border: none;
    background: #00000000;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 24px;
    color: #0A3871;
}

.container__tema-button:hover {
    background: #072448;
    color: #F3F5FC;
}

.container__tema-luna {
    display: none;
}

.container__main {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.container__input {
    display: flex;
    justify-content: center;
    height: clamp(0px, 60vh - 96px, 100vh);
    margin-bottom: 40px;
}

.input-content {
    width: 90%;
    border: none;
    background: rgba(255, 255, 255, 0);
    font-size: 24px;
    line-height: 1.2;
    color: #0A3871;
    resize: none; 
    outline: none;
}

.input-content::placeholder {
    color: #0A3871;
    font-size: 24px;
    line-height: 1.2;
}

.container__interaccion {
    margin: 0 auto;
    width: 90%;
}

.container__instrucciones {
    display: flex; 
    flex-direction: column;
    gap: 8px;
}

.container__instrucciones p {
    font-size: 14px;
    line-height: 18px;
    color: #495057;
}

.container__instrucciones p span {
    display: inline-block;
    background-color: #67808E;
    color: #FFF;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    text-align: center;
}

.container__botones {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container__boton {
    display: inline-block;
    border: none;
    border-radius: 24px;
    padding: 24px;
    background: #0A3871;
    font-size: 16px;
    color: #FFF;
    line-height: 19.36px;
    text-align: center;
    cursor: pointer;
    transition: all ease .3s;
}

.container__boton:hover {
    background: #072448;
}

.container__boton:last-child {
    background: none;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.container__boton:last-child:hover {
    background-color: #E0E4EB;
    color: #072448;
}

.container__presentacion {
    width: 90%;
    margin: 0 auto;
}

.container__texto {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    margin-top: 50px;
    border-radius: 32px;
    padding: 32px;
    box-shadow: 0px 24px 32px -8px #00000014;
    text-align: center;
    gap: 16px;
}

.container__persona {
    display: none;
}

#tituloDelEncriptado {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #343A40;
}

.container__textoAMostrar {
    line-height: 24px;
    color: #495057;
}

.container__parrafo {
    font-size: 24px;
    word-wrap: break-word;
    text-align: left;
    margin: 0 0 20px;
    line-height: 36px;
}

.container__boton-oculto {
    display: none;
}

.container__footer {
    padding: 20px;
    text-align: center;
    color: #0A3871;
    border-top: 1px solid #0A38718D;
    width: 90%;
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 30px;
}

.footer__title {
    font-weight: 600;
}

.footer__list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer__link i {
    color: #0A3871;
    font-size: 24px;
    transition: transform .5s;
}

.footer__link i:hover {
    transform: scale(1.5);
}




@media screen and (min-width: 768px) {
    .container__header {
        height: 160px;
    }
    .container__logo-img {
        width: 100%;
        margin-left: -30%;
    }
    .container__tema-button {
        font-size: 16px;
    }
    .container__input {
        height: clamp(0px, 60vh - 160px, 100vh);
    }
    .input-content {
        font-size: 32px;
        line-height: 48px;
    }
    .input-content::placeholder {
        font-size: 32px;
        line-height: 48px;
    }
    .container__botones {
        flex-direction: row;
    }
    .container__boton {
        flex: 1;
    }
    #tituloDelEncriptado {
        line-height: 28.8px;
    }
}




@media screen and (min-width: 1200px) {
    .container__header {
        height: 140px;
        justify-content: flex-end;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .container__main {
        display: grid;
        grid-template-columns: 1fr repeat(3, 2fr);
        grid-template-rows: 1fr auto;
        height: clamp(0px, 90vh - 160px, 100vh);
        margin: 0;
    }
    .container__input {
        grid-column: 2 / span 2;
        display: block;
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .input-content {
        width: 100%;
        height: 100%;
    }
    .container__interaccion {
        margin: 20px auto 0;
        width: 90%;
        grid-column: 2 / span 2;
        grid-row: 2;
    }
    .container__presentacion {
        grid-column: 4;
        grid-row: span 2;
        margin-top: -94px;
        min-width: 400px;
        width: 100%;
    }
    .container__texto {
        height: 100%;
        justify-content: center;
        padding: 0 32px 32px;
        box-sizing: content-box;
        width: 70%;
        margin: 0 auto;
    }
    .container__texto-modificado {
        justify-content: space-between;
    }
    .container__persona {
        display: inline-block;
    }
    .container__persona-modificada {
        display: none;
    }
    .container__tituloEncriptado {
        display: none;
    }
    .container__parrafo {
        overflow-y: auto;
    }
    #container__boton-oculto {
        flex: 0;
    }
    .container__footer {
        width: 100%;
        padding: 30px;
        margin: 120px 0 0;
        background-color: #0A3871;
        color: #FFFFFF;
    }
    .footer__link i {
        color: #FFFFFF;
    }
    .container.tema-oscuro .container__footer {
        background-color: #0F0F0F;
        color: #F3F5FC;
        border-top: 1px solid #0F0F0F;
    }
}


/* TEMA OSCURO */

.container.tema-oscuro body {
    background: #1b1b1b;
    color: #F3F5FC;
}

.container.tema-oscuro .container__tema-button {
    color: #F3F5FC;
}

.container.tema-oscuro .container__tema-button:hover {
    background: #F3F5FC;
    color: #072448;
}

.container.tema-oscuro .container__tema-sol {
    display: none;
}

.container.tema-oscuro .container__tema-luna {
    display: inline-block;
}

.container.tema-oscuro .input-content {
    color: #F3F5FC;
}

.container.tema-oscuro .input-content::placeholder {
    color: #F3F5FC;
}

.container.tema-oscuro .container__instrucciones p {
    color: #F3F5FC9D;
}

.container.tema-oscuro .container__instrucciones p span {
    background-color: #F3F5FC9D;
    color: #1b1b1b;
}

.container.tema-oscuro .container__boton {
    background: #4e4e4e;
    color: #F3F5FC;
}

.container.tema-oscuro .container__boton:hover {
    background: #2d2d2d;
}

.container.tema-oscuro .container__boton:last-child {
    background: #1b1b1b;
    color: #F3F5FC;
    border: 1px solid #F3F5FC;
}

.container.tema-oscuro .container__boton:last-child:hover {
    background: #0f0f0f;
    border: 1px solid #0f0f0f;
}

.container.tema-oscuro .container__texto {
    background: #0f0f0f;
}

.container.tema-oscuro #tituloDelEncriptado {
    color: #F3F5FC;
}

.container.tema-oscuro .container__textoAMostrar {
    color: #F3F5FC;
}

.container.tema-oscuro #container__boton-oculto:hover {
    background: #072448;
}

.container.tema-oscuro .container__footer {
    color: #F3F5FC;
    border-top: 1px solid #F3F5FC;
}

.container.tema-oscuro .footer__link i {
    color: #F3F5FC;
}
